<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body ng-app="main">
<hr />	
<div class="container" ng-controller="topicsCtrl"> 
<hr />
<div class="row">
<table>
 <thead>
    <tr class=row>
      <td>Topic</td>
      <td>Synopsis</td>
      <td>Lightning talks Session Date</td>
    </tr>
  </thead>
  <tbody ng-repeat="record in allTopics">
  <tr>
    <td>{{ $index + 1 }}</td>
    <td>{{ record.topic }}</td>
    <td>{{ record.topicDescription }}</td>
    <td>{{ record.lightningTalkDate }}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="js/app/main.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</html>